<!DOCTYPE html>
<html lang="fr">
<div class="pnl-strt container visible-md visible-lg nvbar">
<h2>Site menu</h2>
<div class="row">
<ul class="list-inline menu" role="menubar">
<li><a class="item" href="/whwr/menu-fra.html">À propos de nous</a></li>
<li><a class="item" href="/sbmttng/menu-fra.html">Soumettre une plainte</a></li>
<li><a class="item" href="/systmc/menu-fra.html">Enjeux systémiques</a></li>
<li><a class="item" href="/rprts/menu-fra.html">Rapports et publications</a></li>
<li><a class="item" href="/rsrcs/menu-fra.html">Ressources additionnelles</a></li>
</ul>
</div>
</div>
</html>