<!DOCTYPE html>
<html lang="fr">
<div class="pnl-strt container visible-md visible-lg nvbar">
<h2>Site menu</h2>
<div class="row">
<ul class="list-inline menu" role="menubar">
<li><a class="item" href="/ndvdls-fmls/menu-fra.html">Particuliers et familles</a></li>
<li><a class="item" href="/bsnsss/menu-fra.html">Entreprises</a></li>
<li><a class="item" href="/chrts-gvng/menu-fra.html">Organismes de bienfaisance et dons</a></li>
<li><a class="item" href="/rprsnttvs/menu-fra.html">Représentants</a></li>
</ul>
</div>
</div>
</html>