.checkbox-lg > li.checkbox input[type=checkbox], .fieldflow-lg .radio input[type=radio] {
  margin-top: 12px;
  transform: scale(2);
}
.checkbox-lg label, .fieldflow-lg, .fieldflow-lg label, .fieldflow-lg div, .fieldflow-lg select, .std-blt {
  font-size: 20px;
  line-height: 1.65em;
}
.std-blt {
  list-style-type: disc;
}
.std-blt li label {
  display: block;
  padding-left: 0px;
}
.fieldflow-lg .radio label {
  margin-left: 40px;
}
.fieldflow-lg .radio input[type=radio] {
  margin-left: -40px;
}
.fieldflow-lg fieldset legend {
  font-size: 22px;
  margin-top: 0px;
}
