.mfp-bg{opacity:.4;filter:alpha(opacity=40)}
.overlay-def header {
    background-color: #2572b4;
}

#myaccount-container {background-color:rgba(196, 220, 242, 1);}

/* === MyAccount Ribbon START === */
#brand-container-mya {
	background: #c4dcf2 none repeat scroll 0 0;
	box-shadow: 0px 2px rgba(0, 0, 0, 0.25);
}

#brand-text-mya {
	font-size: 26px;  /* H2 size */
	font-weight: bold;
	/*line-height: 1.1;
 	margin-bottom: 6px;
 	margin-top: 8px;
	padding: 6px 0 6px 15px;*/
}

#brand-text-mya-client {
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
 	margin-bottom: -15px;
	margin-left: 5px;
	padding: 8px 0 0px 33px;
}

/* MyAccount Ribbon: vertical line */
.vertical-line { 
	border-style: solid;
	border-width: 0px 2px 0px 0px;	
	margin-top:4px;
	margin-bottom: 4px;
	width: 0;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	height: 50px;
	border-color: rgba(55,80,117,1);
}

.ribbon-shift-left {
	margin-left: -10px;
}

.ribbon-padright-custom {
	padding-right: 5px;
}

/* MyAccount Ribbon: menu links to stay active */
.maNavLink a:visited {color: #21435e; }
.maNavLink a:hover {color: #0535D2; }

.maNavLink ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
}

/* MyAccount Ribbon: add spacing between glyphicon and link text */
.maNavLink .fa:before { margin-right: 5px; }

/* MyAccount Ribbon: custom icon sizes */
.icon-size-lg { 
	font-size: 2.5em;
	margin-right: 5px;
}
.icon-size-md { 
	font-size: 1.5em;
	margin-right: 3px;
}
.icon-size-nm { 
	font-size: 16px;
}

.badge-danger {
 	background-color:#bc3331;
	border-color:#6b1d1c
}

/* Adjustments for smaller screens */
@media (max-width: 991px){
	#brand-text-mya-client {
		padding: 0px 0 0px 33px;
	}
}

/* Adjustments for mobile screens */
@media (max-width: 479px){
	#brand-container-mya {
		background: #c4dcf2 none repeat scroll 0 0;
		margin-left: 15px;
		margin-right: 15px;
	}

	#brand-text-mya {
		font-size: 18px;
		line-height: 1.4375;
		/*color: #335075; */
	}
}

/* === MyAccount Ribbon Branding END === */

/* MyAccount panel specific page styles */
.myaccount-panelbg {background-color:#F2F2F2;}

.well-panelpage {
	box-shadow: 2px 3px 2px rgba(0,0,0,0.25);
	background-color: #F9F9F9;
	width: 100%;
}

.well-help {
	text-align: right;
	padding: 0;
}

.well-asof {
	text-align: left;
	padding: 0;
}

.tabbar-margins {
	margin-top: -40px;
}

/* MyAccount well content specific page styles */

.well-balAmt {
	font-size: 137%;
}

.well-tableHeader {
	background-color: #335075;
	color: #FFFFFF;
    vertical-align: middle;
}

.well-width95 {
      width: 95%;
}

.well-applink {
	font-weight: bold; 
}

/* MyAccount overview specific page styles */
.myaccount-overviewbg {background-color:#F9F9F9;}

.well-overviewpage {
	box-shadow: 2px 3px 2px rgba(0,0,0,0.25);
	background-color: #F2F2F2;
	width: 100%;
}

.overview-headerrule {
	margin-right: -20px; 
	margin-left: -19px;
	border-color: black;
}

.overview-tablink {
	font-weight: bold; 
}

/* MyAccount personal profile specific page styles */

.pp-headerrule-s {
	margin-right: -10px; 
	margin-left: -9px;
	border-color: black;
}

.pp-headerrule-l {
	margin-right: -20px; 
	margin-left: -19px;
	border-color: black;
}

.well-pp {
	box-shadow: 2px 3px 2px rgba(0,0,0,0.25);
	background-color: #F2F2F2;
}

/* MyAccount menu specific styles */

.menu-fillright {
	padding-right: 0px;
}

/* MyAccount ribbon specific styles */
.ribbon-rac-width {
	wdith: 20%;
}

.ribbon-top-margin {
	margin-top: 40px;
}

.ribbon-client {
	padding-left: 70px;
}

.fontsize-CDE-FR {
	font-size: 12.6px;
}

.fontsize-SD-FR {
	font-size: 12.9px;
}

.fontsize-CS-FR {
	font-size: 13.9px;
}

.ribbon-cont-vcenter {
	line-height: 58px;	
}

.ribbon-cont-vcenter p {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}


.ribbon-client-mrgn-tp-sm {
	margin-top: 7.5px;
}

.mrgn-lft-xs {
	margin-left: 4px;
}

#ribbon-client-container {
	background: #F2F2F2 none repeat scroll 0 0;
}
/* Adjustments for mobile screens */
@media (max-width: 479px){
	#ribbon-client-container {
		margin-left: 15px;
		margin-right: 15px;
	}
}

/* MyAccount breadcrumb specific styles */
.bc-top-margin {
	margin-top: 2px;
}

.maContent-sm-tpmrgn{
	margin-top: 5px;
}

.padding-0 {
	padding-left: 0px;
	padding-right: 0px;
}

@media (min-width: 992px) {
	aside {
		display: block;
		padding-left: 15px;
		padding-right: 0px; 		
	} 
}

@media (max-width: 992px) {
    aside {
    	display: block;
		float: left;
		padding-left: 0px;
	}
}

