/* === CRA Branding START === */

#brand-container-cra {
	background: #26374a none repeat scroll 0 0;
}

#brand-text-cra {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.1;
	color: #fff;
 	margin-bottom: 6px;
 	margin-top: 8px;
	padding: 6px 0 6px 15px;
}


/* Adjustments for mobile screens */
@media (max-width: 479px){

	#wb-glb-mn ul.chvrn {
		margin-bottom: 0px;
	}

	#brand-container-cra {
		background: #e1e4e7 none repeat scroll 0 0;
		margin-left: 15px;
		margin-right: 15px;
	}

	#brand-text-cra {
		font-size: 15px;
		color: #26374a;
	}

}

/*
PSL46122 added margin-bottom.
*/
/* Logout button */
#logout-btn {
	background-color: #FFF;
	margin-top: 8px;
	padding: 6px 12px;
}

@media (max-width: 479px){
	#logout-btn {
		padding: 3px 6px 2px;
		min-height: 0;
		margin-right: 5px;
		font-size: 13px;
	}
}

.xsmallview  h4, .xxsmallview  h4,
.xsmallview  .h4,.xxsmallview   .h4 {
	font-size: 14px;
}
/* === CRA Branding END === */