<!DOCTYPE html>
<html lang="en">
<div class="pnl-strt container visible-md visible-lg nvbar">
<h2>Site menu</h2>
<div class="row">
<ul class="list-inline menu" role="menubar">
<li><a class="item" href="/ndvdls-fmls/menu-eng.html">Individuals and families</a></li>
<li><a class="item" href="/bsnsss/menu-eng.html">Businesses</a></li>
<li><a class="item" href="/chrts-gvng/menu-eng.html">Charities and giving</a></li>
<li><a class="item" href="/rprsnttvs/menu-eng.html">Representatives</a></li>
</ul>
</div>
</div>
</html>