.wiz-choice {
      font-size: .85em;
      line-height: 1.6em;
      border-left: 7px solid #ccc;
      margin-left: 1em;
      margin-right: 1em;
      padding-left: 1.3em;
   }

.white-well {
   background-color: white !important;
}