/* 
 * FIELDFLOW INCREASED FONT SIZE
 * Simply add ".gc-font-2019" class to your ".wb-fieldflow" element
 */

.wb-fieldflow.gc-font-2019,
.wb-fieldflow.gc-font-2019 + div label,
.wb-fieldflow.gc-font-2019 + div fieldset legend,
.wb-fieldflow.gc-font-2019 + div input[type="submit"],
.wb-fieldflow.gc-font-2019 + div select,
.wb-fieldflow.gc-font-2019 ~ .wb-fieldflow-form, 
.wb-fieldflow.gc-font-2019 ~ .wb-fieldflow-form label, 
.wb-fieldflow.gc-font-2019 ~ .wb-fieldflow-form fieldset legend, 
.wb-fieldflow.gc-font-2019 ~ .wb-fieldflow-form input[type="submit"], 
.wb-fieldflow.gc-font-2019 ~ .wb-fieldflow-form select {
    font-size: 20px;
    line-height: 1.65em;
}

.wb-fieldflow.gc-font-2019 + div fieldset legend, 
.wb-fieldflow.gc-font-2019 ~ .wb-fieldflow-form fieldset legend {
    margin-bottom: 11.5px;
}

.wb-fieldflow.gc-font-2019 + div input[type="checkbox"],
.wb-fieldflow.gc-font-2019 + div input[type="radio"],
.wb-fieldflow.gc-font-2019 ~ .wb-fieldflow-form input[type="checkbox"], 
.wb-fieldflow.gc-font-2019 ~ .wb-fieldflow-form input[type="radio"] {
    margin-top: 11px;
}

.wb-fieldflow.gc-font-2019 + div input[type="submit"],
.wb-fieldflow.gc-font-2019 + div select,
.wb-fieldflow.gc-font-2019 ~ .wb-fieldflow-form input[type="submit"], 
.wb-fieldflow.gc-font-2019 ~ .wb-fieldflow-form select {
    padding: .54em 1em;
}

/*
 * AJAX-IN CONTENT OUTSIDE OF THE CURRENT FIELDFLOW TO GET INCREASED FONT SIZE ON <P>, <UL>, <OL>, <DL>, ETC.
 * 1. Follow the example displayed here: https://wet-boew.github.io/GCWeb/components/wb-fieldflow/advanced-en.html#customajax
 * 2. Choose "Set 3 - Use container: $("#ajaxPanel .panel-body")" in the dropdown under that section
 * 3. Take a look at the data-wb-fieldflow attribute, which contains a "container" property targetting your ajaxed-in content destination
 *    e.g.  data-wb-fieldflow="{&quot;action&quot;: &quot;ajax&quot;, &quot;url&quot;: &quot;ajax/ajax-3.html&quot;, &quot;container&quot;: &quot;#ajaxPanel .panel-body&quot;}" 
*/