@charset "utf-8";
/*Navigation list  */
ul.gcnav-steps {
	list-style: none;
	padding-left: 0.57em;
	position: relative;
	margin-top: 0.325em;
}
ul.gcnav-steps li ul.gcnav-steps {
	margin-top: 20px;
	padding-left: 0.55em;
}
/*border-right-width is for safari or apple browsers only */
ul.gcnav-steps>li {
	border-left: 4px solid #26374a;
	padding: 0px 20px 30px 1em;
	margin-top: -0.325em;
	border-right-width: 0px;
}
ul.gcnav-steps>li:first-child {
	border-left: 4px solid #26374a;
	-o-border-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0) 0.4em, #26374a 0.4em, #26374a 0.4em) 1 100%;
	border-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0) 0.4em, #26374a 0.4em, #26374a 0.4em) 1 100%;
}
ul.gcnav-steps>li ul.gcnav-steps.noline>li {
	border-left: 4px solid transparent;
	border-image: none;
}
ul.gcnav-steps>li:last-child, ul.gcnav-steps>li.gcnav-steps-end {
	border-left: 4px solid transparent;
}
ul.gcnav-steps li ul.gcnav-steps>li:last-child {
	padding-bottom: 0px;
}
ul.gcnav-steps>li>:first-child::before {
	border-radius: 50%;
	border: 3px solid #26374a;
	background-color: #fff;
	position: absolute;
	left: 0.05em;
	content: "";
	width: 1.2em;
	height: 1.2em;
	transition: width 0.2s, height 0.2s, left 0.2s, margin-top 0.2s;
	margin-top: 0.325em;
}
ul.gcnav-steps>li.active>:first-child::before {
	background-color: #26374a;
}
ul.gcnav-steps>li>a[href]:hover::before, .gcnav-steps>li>a[href]:focus::before {
	width: 1.4em;
	height: 1.4em;
	left: -0.05em;
	margin-top: 0.225em;
}
ul.gcnav-steps>li ul.gcnav-steps.noline>li.active::before {
	content: " ";
	height: 4px;
	width: 1.6em;
	background-color: #26374a;
	position: absolute;
	margin-left: -2.8em;
	margin-top: 0.825em;
}
/*Persistant navigation pattern default mobile */
.gcnav .gcnav-menu h1#wb-cont-parent {
	border-bottom-width: 0px;
	padding: 0px 20px 10px 0px;
	background-color: #fff;
	display: inline-block;
	font-size: 1.3em;
	color: #555;
	margin-top: -19px;
	float: left;
	margin-right: 20px;
}
.gcnav .gcnav-menu {
	border-top: 4px solid #26374a;
	border-right: 4px solid #26374a;
	border-radius: 0px 6px 6px 0px;
	margin-top: 38px;
}
.gcnav .gcnav-menu ul.gcnav-steps {
	padding-top: 10px;
	clear: both;
}
.gcnav .gcnav-menu ul.gcnav-steps>li:last-child {
	border-left: 4px solid #26374a;
	border-bottom: 4px solid #26374a;
	border-bottom-left-radius: 6px;
}
.gcnav .gcnav-menu ul.gcnav-steps>li ul.gcnav-steps>li:last-child {
	border-left: 4px solid transparent;
	border-bottom: 0px;
}
.gcnav .gcnav-menu nav, .gcnav aside.gcnav-side {
	clear: left;
}
.gcnav>h1#wb-cont {
	margin-left: 15px;
	margin-right: 15px;
}

/*Header for navigation menu hidden in mobile except on focus*/
@media all and (max-width:991px) {
.gcnav .gcnav-menu #gcnav-menu-header:not(:focus) {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	width: 1px;
}
}

/* Persistant navigation desktop */
@media all and (min-width:992px) {
.gcnav {
	margin: 38px -15px 0px -15px;
}
.gcnav::after {
	clear: both;
}
.gcnav::after, .gcnav::before {
	content: " ";
	display: table;
}
.gcnav .gcnav-menu h1#wb-cont-parent {
	font-weight: inherit;
	padding-bottom: 0px!important;
	margin-bottom: 0px;
	font-size: 1.52em;
}
.gcnav .gcnav-menu, .gcnav .gcnav-menu h1#wb-cont-parent, .gcnav h1#wb-cont {
	margin-top: 0px;
}
.gcnav .gcnav-menu h1#wb-cont-parent, .gcnav .gcnav-section {
	width: 66.66%;
}
.gcnav .gcnav-menu nav, .gcnav aside.gcnav-side, .gcnav .gcnav-side {
	width: 33.33%;
	float: right;
}
.gcnav .gcnav-section {
	display: inline-block;
}
.gcnav .gcnav-menu nav {
	margin-top: -20px;
}
.gcnav .gcnav-menu h1#wb-cont-parent, .gcnav .gcnav-section, .gcnav .gcnav-menu nav, .gcnav aside.gcnav-side, .gcnav .gcnav-side {
	position: relative;
	min-height: 1px;
	padding: 0px 15px 0px 15px;
}
.gcnav .gcnav-menu h1#wb-cont-parent {
	float: left;
}
.gcnav aside.gcnav-side {
	clear: right;
}
.gcnav .gcnav-menu #gcnav-menu-header {
	margin-top: 0px;
}
.gcnav #gcnav-menu-header {
	font-size: 1.2em;
	display: inherit;
}
.gcnav .gcnav-menu {
	border-top: 0px;
	border-right: 0px;
}
.gcnav .gcnav-menu ul.gcnav-steps>li:last-child {
	border-left: 4px solid transparent;
	border-bottom: 0px;
}
}
ul.gcnav-steps>li ul.gcnav-steps>li.active::before {
	margin-left: -2.75em;
}
/*Checkbox/Fieldflow radio input sizing,positioning*/
.checkbox-lg > li.checkbox {
	margin-top: 0px;
}
.checkbox-lg > li {
	margin-left: -40px;
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	padding-right: 15px;
}
.checkbox-zebra > li:nth-child(2n+1) {
	background-color: #f5f5f5;
	padding-top: 10px;
	padding-bottom: 15px;
}
.checkbox-lg > li.checkbox input[type=checkbox], .fieldflow-lg .radio input[type=radio] {
	margin-top: 12px;
	transform: scale(2);
}
.checkbox-lg label, .fieldflow-lg, .fieldflow-lg label, .fieldflow-lg div, .fieldflow-lg select, .std-blt {
	font-size: 20px;
	line-height: 1.65em;
}
.std-blt {
	list-style-type: disc;
}
.std-blt li label {
	display: block;
	padding-left: 0px;
}
.fieldflow-lg .radio label {
	margin-left: 40px;
}
.fieldflow-lg .radio input[type=radio] {
	margin-left: -40px;
}
.fieldflow-lg fieldset legend {
	font-size: 22px;
	margin-top: 0px;
}

/*Hide arrows in Chrome/FF for number input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}
output.wb-calc {
	display: inline;
}
/*Validation invisible text appearance */
.wb-frmvld #errors-default .wb-inv, .wb-frmvld .has-error .wb-inv {
	clip: inherit;
	height: inherit;
	margin: inherit;
	overflow: inherit;
	position: inherit;
	width: inherit;
}
.wb-frmvld .has-error .wb-inv {
	color: #333;
}
:not(#wb-srch) main form:not(#gc-pg-hlpfl-frm), main .checkbox, main .checkbox-inline, main .radio, main .radio-inline, main form:not(#gc-pg-hlpfl-frm) :not(.btn-call-to-action).btn, main form :not(.btn-primary).btn {
	font-size: 20px !important;
	line-height: 1.65em !important;
}
.checkbox-lg>li {
	margin-bottom: 20px;
}
.checkbox-lg>li .checkbox-block {
	padding-left: 20px;
}
.checkbox-lg input[type=checkbox] {
	/* Double-sized Checkboxes */
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	transform: scale(2);
	padding: 10px;
	-webkit-background-color: #fff;
}
.checkbox-lg input[type=checkbox]:focus {
	box-shadow: 0 0 2pt 1pt rgb(59, 153, 252);
}
.checkbox-lg label {
	font-size: 1.2em;
}
p {
	transition: all 1s;
}
p.hidden-action {
	transform: scaleX(0);
	overflow: hidden;
	float: left;
}
p.visible-action {
	transform: scaleX(1);
	float: left;
}
/*Styled list steps */
ol.lst-stps, .lst-stps {
	counter-reset: item;
}
ol.lst-stps, .lst-stps {
	margin: 15px 0 15px 0px;
	padding-left: 0;
	position: relative;
}
ol.lst-stps>li, .lst-stps>.lst-item {
	counter-increment: item;
}
ol.lst-stps>li, ol.sub-lst-stps>li, .lst-stps .lst-item {
	list-style: none;
	margin-top: 30px;
	position: relative;
	padding-left: 60px;
	padding-right: 15px;
	min-height: 2.2em;
}
ol.lst-stps.lst-stps-sm>li, ol.sub-lst-stps.lst-stps-sm>li, .lst-stps.lst-stps-sm .lst-item {
	padding-left: 45px;
}
ol.lst-stps>li ul {
	margin-top: 20px;
}
ol.lst-stps>li>*:last-child, .lst-stps .lst-item>*:last-child {
	margin-bottom: 0px;
}
ol.lst-stps>li:before, .lst-stps .lst-item:before {
	content: counter(item);
}
ol.lst-stps>li>ol.sub-lst-stps, .lst-stps .lst-item>.sub-lst-stps {
	counter-reset: subitem;
}
ol.lst-stps>li>ol.sub-lst-stps {
	margin-left: -35px;
}
.lst-stps .lst-item {
	position: relative;
	padding-left: 60px;
	margin-top: 30px;
}
ol.lst-stps>li:before, ol.sub-lst-stps>li:before, .lst-stps .lst-item:before {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	border: 3px solid #26374a;
	background-color: #fff;
	float: left;
	position: absolute;
	box-sizing: content-box;
	line-height: 2.2;
	text-align: center;
	font-weight: 600;
	height: 2.2em;
	width: 2.2em;
	left: 0px;
	margin-top: -8px;
}
ol.lst-stps.lst-stps-sm>li:before, ol.sub-lst-stps.lst-stps-sm>li:before, .lst-stps.lst-stps-sm .lst-item:before {
	line-height: 1.6;
	height: 1.6em;
	width: 1.6em;
	margin-top: -4px;
}
ol.lst-stps>li>ol.sub-lst-stps>li:before, .lst-stps>.lst-item>.sub-lst-stps>.lst-item:before {
	counter-increment: subitem;
	content: counter(item) "" counter(subitem, lower-alpha) "";
}
.sub-lst-stps>.lst-item:last-child {
	margin-bottom: 0px
}
.lst-stps-striped>li ol.lst-stps, .lst-stps-striped > .lst-item > .sub-lst-stps {
	margin-top: 15px;
}
ol.lst-stps.lst-stps-striped>li, .lst-stps-striped>li>ol.sub-lst-stps>li, .lst-stps.lst-stps-striped .lst-item {
	padding-top: 23px;
	padding-bottom: 23px;
	margin-top: 0px;
}
.lst-stps-striped >li:nth-child(odd), .lst-stps-striped >li:nth-child(even)>ol.sub-lst-stps>li:nth-child(odd), .lst-stps-striped >li:nth-child(odd)>ol.sub-lst-stps>li:nth-child(even), .lst-stps-striped >.lst-item:nth-child(odd), .lst-stps-striped >.lst-item:nth-child(even)>.sub-lst-stps>.lst-item:nth-child(odd), .lst-stps-striped >.lst-item:nth-child(odd)>.sub-lst-stps>.lst-item:nth-child(even) {
	background-color: #f5f5f5;
}
.lst-stps-striped >li:nth-child(odd)>ol.sub-lst-stps>li:nth-child(odd), .lst-stps-striped >.lst-item:nth-child(odd)>.sub-lst-stps>.lst-item:nth-child(odd) {
	background-color: #fff!important;
}
.lst-stps-striped >li:nth-child(even)>ol.sub-lst-stps>li:nth-child(even):last-child, .lst-stps-striped >li:nth-child(odd)>ol.sub-lst-stps>li:nth-child(even):last-child, .lst-stps-striped >.lst-item:nth-child(even)>.sub-lst-stps>.lst-item:nth-child(even):last-child, .lst-stps-striped >.lst-item:nth-child(odd)>.sub-lst-stps>.lst-item:nth-child(even):last-child {
	padding-bottom: 0px;
}
ol.lst-stps>li>:first-child, .lst-stps .lst-item>:first-child {
	margin-top: auto;
}
ol.lst-stps.lst-stps-striped>li, .lst-stps-striped>li>ol.sub-lst-stps>li, .lst-stps.lst-stps-striped .lst-item {
	padding-left: 75px;
}
ol.lst-stps.lst-stps-striped.lst-stps-sm>li, .lst-stps-striped>li>ol.sub-lst-stps.lst-stps-sm>li, .lst-stps.lst-stps-striped.lst-stps-sm .lst-item {
	padding-left: 65px;
}
.lst-stps-striped>li:before, .lst-stps-striped ol.sub-lst-stps>li:before, .lst-stps-striped .lst-item:before {
	margin-left: 15px;
}
@media all and (max-width: 767px) {
ol.lst-stps>li:before, ol.sub-lst-stps>li:before, .lst-stps .lst-item:before {
	font-size: 0.8em;
	line-height: 2;
	height: 2em;
	width: 2em;
	margin-top: -3px;
	font-weight: 600;
}
ol.lst-stps.lst-stps-sm>li:before, ol.sub-lst-stps.lst-stps-sm>li:before, .lst-stps.lst-stps-sm .lst-item:before {
	font-size: 0.8em;
	line-height: 1.4;
	height: 1.4em;
	width: 1.4em;
	font-weight: 500;
	padding: 4px;
}
ol.lst-stps>li, ol.sub-lst-stps>li, .lst-stps>.lst-item {
	padding-left: 45px
}
ol.lst-stps.lst-stps-sm>li, ol.sub-lst-stps.lst-stps-sm>li, .lst-stps.lst-stps-sm>.lst-item {
	padding-left: 435px
}
.lst-stps.lst-stps-striped>li, .lst-stps-striped>li>ol.sub-lst-stps>li, .lst-stps.lst-stps-striped .lst-item {
	padding-top: 19px;
	padding-bottom: 19px;
	margin-top: 0px;
}
.lst-stps.lst-stps-striped.lst-stps-sm>li, .lst-stps-striped>li>ol.sub-lst-stps.lst-stps-sm>li, .lst-stps.lst-stps-striped.lst-stps-sm .lst-item {
	padding-left: 55px;
}
}
/*AND/OR pattern*/
[class*=cnjnctn-type-] {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	margin-bottom: 15px;
	margin-left: 5px;
	margin-right: 0px;
	margin-top: 15px;
	position: relative;
	min-height: 60px;
}
[class*=cnjnctn-type-] [class*=cnjnctn-col]:not(:first-child):after {
	background-image: linear-gradient(to bottom, #6f6f6f, #6f6f6f);
	background-size: 3px;
	content: ' ';
	height: 100%;
	margin-left: -15px;
	position: absolute;
	top: 0;
	width: 3px;
}
[class*=cnjnctn-type-] [class*=cnjnctn-col] {
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}
[class*=cnjnctn-type-] [class*=cnjnctn-col]> :first-child:not([class*=mrgn-tp-]) {
	margin-top: 0px;
}
[class*=cnjnctn-type-] [class*=cnjnctn-col]> :last-child:not([class*=mrgn-bttm-]) {
	margin-bottom: 0px;
}
[class*=cnjnctn-type-] [class*=cnjnctn-col]:not(:last-child) {
	margin-bottom: 30px;
	margin-right: 30px;
}
[class*=cnjnctn-type-] [class*=cnjnctn-col]:not(:first-child) {
	margin-top: 30px;
}
[class*=cnjnctn-type-] [class*=cnjnctn-col]:not(:first-child):before {
	border-color: #6f6f6f;
	border-style: solid;
	box-sizing: content-box;
	font-size: 16px;
	font-weight: 600;
	height: 30px;
	line-height: 28px;
	margin-top: -53px;
	padding: 4px;
	position: absolute;
	text-align: center;
	width: 30px;
}
.cnjnctn-type-or [class*=cnjnctn-col]:not(:first-child):before {
	border-radius: 50%;
	border-width: 3px;
}
.cnjnctn-type-and [class*=cnjnctn-col]:not(:first-child):before {
	border-width: 0px 3px 0px 3px;
}
html:lang(en) .cnjnctn-type-and [class*=cnjnctn-col]:not(:first-child):before {
	content: "and";
}
html:lang(fr) .cnjnctn-type-and [class*=cnjnctn-col]:not(:first-child):before {
	content: "et";
}
html:lang(en) .cnjnctn-type-or [class*=cnjnctn-col]:not(:first-child):before {
	content: "or";
}
html:lang(fr) .cnjnctn-type-or [class*=cnjnctn-col]:not(:first-child):before {
	content: "ou";
}
[class*=cnjnctn-type-] .cnjnctn-col-90 {
	flex-basis: 90%
}
[class*=cnjnctn-type-] .cnjnctn-col-80 {
	flex-basis: 80%
}
[class*=cnjnctn-type-] .cnjnctn-col-75 {
	flex-basis: 75%
}
[class*=cnjnctn-type-] .cnjnctn-col-70 {
	flex-basis: 70%
}
[class*=cnjnctn-type-] .cnjnctn-col-60 {
	flex-basis: 60%
}
[class*=cnjnctn-type-] .cnjnctn-col-50 {
	flex-basis: 50%
}
[class*=cnjnctn-type-] .cnjnctn-col-40 {
	flex-basis: 40%
}
[class*=cnjnctn-type-] .cnjnctn-col-30 {
	flex-basis: 30%
}
[class*=cnjnctn-type-] .cnjnctn-col-25 {
	flex-basis: 25%
}
[class*=cnjnctn-type-] .cnjnctn-col-20 {
	flex-basis: 20%
}
[class*=cnjnctn-type-].cnjnctn-xs {
	flex-direction: row;
	margin-left: -15px;
	margin-right: -15px;
}
[class*=cnjnctn-type-].cnjnctn-xs [class*=cnjnctn-col]:not(:first-child):after {
	background-image: linear-gradient(to bottom, #6f6f6f 6px, #6f6f6f 6px, rgba(0,0,0,0) 6px, rgba(0,0,0,0) 46px, #6f6f6f 46px, #6f6f6f 46px);
}
[class*=cnjnctn-type-].cnjnctn-xs [class*=cnjnctn-col]:not(:first-child) {
	margin-left: 30px;
}
[class*=cnjnctn-type-].cnjnctn-xs [class*=cnjnctn-col]:not(:first-child):after {
	margin-left: -46px;
}
.cnjnctn-type-or.cnjnctn-xs [class*=cnjnctn-col]:not(:first-child):before {
	margin-left: -67px;
}
.cnjnctn-type-and.cnjnctn-xs [class*=cnjnctn-col]:not(:first-child):before {
	margin-left: -65.5px;
}
[class*=cnjnctn-type-].cnjnctn-xs [class*=cnjnctn-col]:not(:first-child):before {
	margin-top: 4px;
}
[class*=cnjnctn-type-].cnjnctn-xs [class*=cnjnctn-col]:not(:last-child) {
	margin-bottom: 0px;
}
[class*=cnjnctn-type-].cnjnctn-xs [class*=cnjnctn-col]:not(:first-child) {
	margin-top: 0px;
}
.cnjnctn-type-and.cnjnctn-xs [class*=cnjnctn-col]:not(:first-child):before {
	border-width: 3px 0px 3px 0px;
}

@media all and (min-width: 768px) {
[class*=cnjnctn-type-].cnjnctn-sm {
	border-left: 0px solid transparent;
	flex-direction: row;
	margin-left: -15px;
	margin-right: -15px;
}
[class*=cnjnctn-type-].cnjnctn-sm [class*=cnjnctn-col]:not(:first-child) {
	margin-left: 30px;
}
[class*=cnjnctn-type-].cnjnctn-sm [class*=cnjnctn-col]:not(:first-child):after {
	margin-left: -46px;
}
.cnjnctn-type-or.cnjnctn-sm [class*=cnjnctn-col]:not(:first-child):before {
	margin-left: -67px;
}
.cnjnctn-type-and.cnjnctn-sm [class*=cnjnctn-col]:not(:first-child):before {
	margin-left: -65.5px;
}
[class*=cnjnctn-type-].cnjnctn-sm [class*=cnjnctn-col]:not(:first-child):before {
	margin-top: 4px;
}
[class*=cnjnctn-type-].cnjnctn-sm [class*=cnjnctn-col]:not(:last-child) {
	margin-bottom: 0px;
}
[class*=cnjnctn-type-].cnjnctn-sm [class*=cnjnctn-col]:not(:first-child) {
	margin-top: 0px;
}
[class*=cnjnctn-type-].cnjnctn-sm [class*=cnjnctn-col]:not(:first-child):after {
	background-image: linear-gradient(to bottom, #6f6f6f 6px, #6f6f6f 6px, rgba(0,0,0,0) 6px, rgba(0,0,0,0) 46px, #6f6f6f 46px, #6f6f6f 46px);
}
.cnjnctn-type-and.cnjnctn-sm [class*=cnjnctn-col]:not(:first-child):before {
	border-width: 3px 0px 3px 0px;
}
}

@media all and (min-width: 992px) {
[class*=cnjnctn-type-].cnjnctn-md {
	border-left: 0px solid transparent;
	flex-direction: row;
	margin-left: -15px;
	margin-right: -15px;
}
[class*=cnjnctn-type-].cnjnctn-md [class*=cnjnctn-col]:not(:first-child) {
	margin-left: 30px;
}
[class*=cnjnctn-type-].cnjnctn-md [class*=cnjnctn-col]:not(:first-child):after {
	margin-left: -46px;
}
.cnjnctn-type-or.cnjnctn-md [class*=cnjnctn-col]:not(:first-child):before {
	margin-left: -67px;
}
.cnjnctn-type-and.cnjnctn-md [class*=cnjnctn-col]:not(:first-child):before {
	margin-left: -65.5px;
}
[class*=cnjnctn-type-].cnjnctn-md [class*=cnjnctn-col]:not(:first-child):before {
	margin-top: 4px;
}
[class*=cnjnctn-type-].cnjnctn-md [class*=cnjnctn-col]:not(:last-child) {
	margin-bottom: 0px;
}
[class*=cnjnctn-type-].cnjnctn-md [class*=cnjnctn-col]:not(:first-child) {
	margin-top: 0px;
}
[class*=cnjnctn-type-].cnjnctn-md [class*=cnjnctn-col]:not(:first-child):after {
	background-image: linear-gradient(to bottom, #6f6f6f 6px, #6f6f6f 6px, rgba(0,0,0,0) 6px, rgba(0,0,0,0) 46px, #6f6f6f 46px, #6f6f6f 46px);
}
.cnjnctn-type-and.cnjnctn-md [class*=cnjnctn-col]:not(:first-child):before {
	border-width: 3px 0px 3px 0px;
}
}

@media all and (min-width: 1200px) {
[class*=cnjnctn-type-].cnjnctn-lg {
	border-left: 0px solid transparent;
	flex-direction: row;
	margin-left: -15px;
	margin-right: -15px;
}
[class*=cnjnctn-type-].cnjnctn-lg [class*=cnjnctn-col]:not(:first-child) {
	margin-left: 30px;
}
[class*=cnjnctn-type-].cnjnctn-lg [class*=cnjnctn-col]:not(:first-child):after {
	margin-left: -46px;
}
.cnjnctn-type-or.cnjnctn-lg [class*=cnjnctn-col]:not(:first-child):before {
	margin-left: -67px;
}
.cnjnctn-type-and.cnjnctn-lg [class*=cnjnctn-col]:not(:first-child):before {
	margin-left: -65.5px;
}
[class*=cnjnctn-type-].cnjnctn-lg [class*=cnjnctn-col]:not(:first-child):before {
	margin-top: 4px;
}
[class*=cnjnctn-type-].cnjnctn-lg [class*=cnjnctn-col]:not(:last-child) {
	margin-bottom: 0px;
}
[class*=cnjnctn-type-].cnjnctn-lg [class*=cnjnctn-col]:not(:first-child) {
	margin-top: 0px;
}
[class*=cnjnctn-type-].cnjnctn-lg [class*=cnjnctn-col]:not(:first-child):after {
	background-image: linear-gradient(to bottom, #6f6f6f 6px, #6f6f6f 6px, rgba(0,0,0,0) 6px, rgba(0,0,0,0) 46px, #6f6f6f 46px, #6f6f6f 46px);
}
.cnjnctn-type-and.cnjnctn-lg [class*=cnjnctn-col]:not(:first-child):before {
	border-width: 3px 0px 3px 0px;
}
}
