/**
* Temp. copy from CRA Java developer 1.0.5.
* It should be removed once we adapt CRA Java developer 1.0.5+.
       
* For name/value pair layout, as per CRA usability guidelines.
*/
.dl-horizontal-cra dt {
    text-align: left;
    font-weight: normal;
}

.dl-horizontal-cra dd {
    font-weight: bold;
}


/**
* End of temp. copy
*/      

/***
* MyBA template start
*/
.mbsl-logout-btn {
	margin: 3px 15px 1px 0;
}
  	  	 

/* Override for the side menu */
@media screen and (min-width:992px){
	#wb-sec {
		margin-top:0px;
		padding-botton:2em;
	}
}

/* Override for the content part */
.h1,.h2,h1,h2{margin-top:8px}

/***
* MyBA template end	
*/


.mbsl-info-light {
	background-color: #fff;
	padding: 15px 0px 0px 0px;
	margin: 0;
	border:none;
	color:#333;
	font-size:17.5px;
}

.mbsl-mrg-btm-0 {
	margin-bottom: 0px;
}

.mbsl-error-format {
	margin: 0px 30px;
}

.mbsl-info-plain {
	font-size:17px;
	color:#555;
}

.mbsl-input-wide {
	width: 100%;
	margin: 3px 0px;
}

.mbsl-list-group {
	border-top: solid 2px #777;
	padding: 0px;
	list-style-type: none;
	margin-bottom: 3em;
}

.mbsl-list-group label {
	width: 100%;
	margin: 0px;
	padding: 15px 0px 15px 15px;
}


.mbsl-list-group .mb {
	margin:-15px 0px;
	padding: 20px;
	border-radius:0;
	background: none;
	color:#333;
	font-weight:600;
}

.mbsl-list-group li.li {
	border-radius: 0;
	border-bottom: solid 1px #ddd;
	border-left: solid 3px #fff;
}

.mbsl-list-group li.default {
	border-left-color: #238aa9;
}

.mbsl-list-group li:hover, .mbsl-list-group li.default:hover {
	background-color: #f9f9f9;
	border-left: solid 3px #ccc;
}

.mbsl-list-group li:focus, .mbsl-list-group li.default:focus  {
	background-color: #f9f9f9;
	color:#333;
}

.mbsl-list-group li:active, .mbsl-list-group li.default:active, .mbsl-list-group li:target  {
	background-color: #f9f9f9;
	color:#333;
}

.mbsl-list-group ul a:visted {
	text-decoration: none;
	text-underline: none;
	background-color: #f6f6f6;
}

.mbsl-list-group input[type=radio]:checked {
	background-color: #f9f9f9;
}


div.titleRow {
	float: left; 
	margin: 5px 0 0 0; 
	padding: 0;
	
	width: 100%;
	border-collapse : collapse; 
	border : #CCCCCC 1px solid; 
}

div.titleRow h2{
	background-color: #4e6c8b;
	color: #FFFFFF;
	padding: 2px 0 2px 20px;	
}

div.borderRow {
	float: left; 
	margin: 0; 
	padding: 5px;
	width: 100%;
	border-collapse: collapse;
	border: #CCCCCC 1px solid; 
	background-color: #EEEEEE;
}

div.borderHiddenRow {
	float: left; 
	margin: 0; 
	padding: 0;
	width: 100%;
	border-collapse: collapse;
	border: #CCCCCC 1px solid; 
	background-color: #EEEEEE;
	display:none;
	visibility: hidden;
}

div.borderRow div.subTitle{
	padding: 5px 0 2px 30px;
}

div.borderRow li.list{
	padding: 2px 0 2px 0px;
}

div.borderHiddenRow li.list{
	padding: 2px 0 2px 0px;
}

/* TODO: cleanup
div.cols2withRBorder {
	float: left; 
 	margin: 0; 
	padding: 8px 0 8px 8px;
	border-collapse: collapse;
	border-right: #CCCCCC 1px solid;
	width: 49%;
}

div.cols2 {
	float: left; 
	margin: 0; 
	padding: 3px 0 3px 8px;
	width: 49%
}

div.cols1 {
	float: left; 
	margin: 0; 
	padding: 3px 0 3px 8px;
	width: 100%
}
*/


div.alignRight {
	clear: both;
	padding-top: 10px;	
}

div.labelInputContainer{
	padding: 10px 0 10px 10px;
}

div.labelInputContainer1{
	float: left;
	padding: 20px 0 20px 0;
	width: 98.5%;
}


div.submitContainer{
	padding: 20px 0 20px 0;
}

div.submitContainer1{
	float: left;
	padding: 20px 0 20px 0;
	width: 98.5%;
}

div.msgRow{
	float: left; 
	margin-bottom: 1em; 
	padding: 0; 
	width: 98%;
}

div.mbslrow {
	FLOAT: left; 
	PADDING: 0; 
	MARGIN: 0px; 
	WIDTH: 98.5%; 
}

div.mbslrow1 {
	FLOAT: left; 
	PADDING: 0; 
	MARGIN: 5px 0 0 0; 
	WIDTH: 98.5%; 
}

div.mbslcol {
	FLOAT: left;
	PADDING: 0;
	MARGIN: 0px 5px 3px 0px; 
	WIDTH: 61%;
	vertical-align: centre; 
}

div.mbslcol1 {
	FLOAT: left;
	PADDING: 0;
	MARGIN: 0px 5px 3px 0px; 
	WIDTH: 35%; 
}

div.messageBox{
	float: left;
	border-collapse: collapse;
	border: #CCCCCC 1px solid;
	background-color: #ffff99; 
	padding: 8px 0 8px 8px;
	width: 75%;
	margin: 0 0 0 0; 
}

div.alertBox{
	float: left; 
	border-collapse: collapse;
	border: #CCCCCC 1px solid;	
	background-color: #99E56A; 
	padding: 8px 0 8px 8px; 
	width: 47%;
	margin: 0 0 0 0;
}

div.redMessageBox{
	float: left;
	border-collapse: collapse;
	border: #CCCCCC 1px solid;
	background-color: #ffff99;
	color: #990033; 
	padding: 8px 0 8px 8px;
	width: 75%;
	margin: 0 0 1em 0; 
}

div.redAlertBox{
	float: left; 
	border-collapse: collapse;
	border: #CCCCCC 1px solid;	
	background-color: #99E56A; 
	color: #990033;
	padding: 8px 0 8px 8px; 
	width: 47%;
	margin-bottom: 1em;
}

li.mybaList{
	margin-bottom: 15px;	
}

ul.mybaTCUUl{
	list-style: disc;
}

span.newIcon{
	background-color: #00556b; 
	color: #fff; 
	border:solid 1px #fff; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 89%; 
	padding: 0px 3px 0px 3px;
}


.scalableImage {  
  width: 1.4em; 
  height: 1.4em; 
}

.error{ color: #CC0000; }
.warn{ color: #CC0000; }

ul.nav li.menu-subheader {
    background-color: #404040;
    background-position: right center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    padding: 2px 5px 2px 7px;
}

h2.errMsgTitle {
	color: #ff0000;
	font-size: 100%;
}

h2.important {
	font-size: 100%;
}

h2.nav {
	font-weight: 700;
	line-height: 1.6em;
	border: 0;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0;
}

@charset "utf-8";

h1 { margin-top: 0%; }

.rac-nav { padding: 1em; }

fieldset { border-top: none; }