.xsmallview  h1, .xxsmallview  h1,
.xsmallview  .h1, .xxsmallview  .h1 {
	font-size: 22px;
}
.xsmallview  h2, .xxsmallview  h2,
.xsmallview  .h2, .xxsmallview  .h2 {
	font-size: 18px;
}
.xsmallview  h3, .xxsmallview  h3,
.xsmallview  .h3, .xxsmallview  .h3 {
	font-size: 16px;
}
.xsmallview  h4, .xxsmallview  h4,
.xsmallview  .h4,.xxsmallview   .h4 {
	font-size: 14px;
}
.xsmallview  h5, .xxsmallview  h5,
.xsmallview  .h5, .xxsmallview  .h5 {
	font-size: 14px;
}

/* Bold breadcrumbs */
.breadcrumb li,
.well-applink {
    font-weight: bold;
}

.maHeadingRow {margin: 1em 0 1em;}

.maHeading {display: inline-block; width: 100%; margin: 0;}
.maHeading h1 {margin: 0;}
.maHeading div {line-height: 1.1; font-size: 115%; color: #767676;}
.maHeading h1 + div {margin-top: 3px;}
.maHeading.maNoHelp {width: 100%;}
.lt-ie9 .maHeading {width: 75%;}
.xsmallview .maHeading, .xxsmallview .maHeading {display: block; width: 100%;}

.maHelpLink {text-align: right;}
.maHelpLink a:visited {color: #295376;}
.xsmallview .maHelpLink, .xxsmallview .maHelpLink {float: none;}

@media (max-width: 991px){
    .maHelpLink {
        text-align: left;
    }   
}

dl.maLargeKeyVal {font-size: 24px;}
dl.maLargeKeyVal dt {font-weight: 700;}
dl.maLargeKeyVal dd {
    display: inline-block;
    margin-bottom: 0;
    padding: 4px 8px;
    border: 1px solid #DEB6C2;
    border-radius: 4px 4px 4px 4px;
    font-weight: 400;
    color: #C7254E;background-color: #F9F2F4;
}
.well dl.maLargeKeyVal {margin-bottom: 0;}


.maNavBar.maMulti.btn-group > .btn:first-child {margin-left: -1px;}

/* Menu links to stay active */
.maNavLink a:visited {color: #295376;}

#wb-sec h3 a {display: block;}
#wb-sec .list-group .list-group-item-new {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #d7faff;
	border: 1px solid #ddd;
	text-decoration: none;
	color: #000000
}

#wb-sttl a, #wb-sttl a:hover, #wb-sttl a:focus {text-decoration: none;}
