@CHARSET "utf-8";

.vcMessageHighlight{
    color: #FF0000;
    font-weight: bold;
}

.vcTableHeader {
    background-color:#cccccc;
}

.vcTable{
	width:100%; 
	border:0;
	}

.vcHidden{
	display:none;
}

/* vcResultsColumnOne and Two do not specify text alignemnt on purpose.  
   It is used for both header row TH and data row TD. TH will default 
   to center alignment and TD will default to left alignment. 
   This is the desired result.
*/
.vcResultsDescColumn {
	width:50%;
	vertical-align:middle;
	padding: 3px 0px;

}

.vcResultsNameColumn {
    width:10%;
    vertical-align:middle;
    padding: 3px 0px;
}

.vcResultsAccountColumn {
    width:10%;
    vertical-align:middle;
    padding: 3px 0px;
    white-space: nowrap;
}

.vcResultsReadColumn {
    width:10%;
    vertical-align:middle;
    padding: 3px 0px;
    white-space: nowrap;
    font-weight: normal;
}

.vcResultsUnreadColumn {
    width:10%;
    vertical-align:middle;
    padding: 3px 0px;
    white-space: nowrap;
    font-weight: bold;
}

.vcResultsReferenceColumn {
	width:20%; 
	text-align:center; 
	vertical-align:middle;
	padding: 3px 0px;
	white-space: nowrap;
	}

.vcResultsDateColumn{
	width:20%; 
    text-align:center; 
    vertical-align:middle;
    padding: 3px 0px;
    white-space: nowrap;
}

.vcResultsLangColumn{
	width:20%;
	text-align:center;
	vertical-align:middle;
	padding: 3px 0px;
	white-space: nowrap;
}

.vcScreenId{
	text-align:right;
}

.vcPageLinks{
    margin:3px;
}

.vcSubmit{
    text-align: center;
    margin: 0px;
}

.vcAccountInfo{
    margin-bottom: 5px;
}