.checkbox-lg>li {
	margin-bottom: 20px;
}
.checkbox-lg>li .checkbox-block {
	padding-left: 20px;
}
.checkbox-lg input[type=checkbox] {
	/* Double-sized Checkboxes */
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	transform: scale(2);
	padding: 10px;
	-webkit-background-color: #fff;
}
.checkbox-lg input[type=checkbox]:focus {
	box-shadow: 0 0 2pt 1pt rgb(59, 153, 252);
}
.checkbox-lg label {
	font-size: 1.2em;
}
p {
	transition: all 1s;
}
p.hidden-action {
	transform: scaleX(0);
	overflow: hidden;
	float: left;
}
p.visible-action {
	transform: scaleX(1);
	float: left;
}