.cnjnctn-grd {
	display: flex;
	margin-top: 19px;
	margin-bottom: 19px;
}
.cnjnctn-grd .cnjnctn-col {
	width: 100%;
	padding-top: 9px;
}
.cnjnctn-grd .cnjnctn-col-sm {
	width: 50%;
	padding-top: 9px;
}
.cnjnctn-grd .cnjnctn-and, .cnjnctn-grd .cnjnctn-or {

	padding-right: 19px;
	padding-left: 19px;
	padding-top: 5px;
	background-image: linear-gradient(to bottom, #6f6f6f 0.3em, #6f6f6f 0.3em, rgba(0,0,0,0) 0.3em, rgba(0,0,0,0) 2.4em, #6f6f6f 2.4em, #6f6f6f 2.4em);
	background-repeat: no-repeat;
	background-size: 2px 100%;
	background-position: center;
}

[tabindex] .modal-content .cnjnctn-grd .cnjnctn-and:after, [tabindex] .modal-content .cnjnctn-grd .cnjnctn-or:after {
	top: 1px;
	bottom: -1px;	
}
.cnjnctn-grd .cnjnctn-and:before, .cnjnctn-grd .cnjnctn-or:before {
	float: left;
	box-sizing: content-box;
	line-height: 1.9em;
	text-align: center;
	padding: 4px;
	height: 2em;
	width: 2em;
	font-weight: 600;
	font-size: 16px;
}
[tabindex] .modal-content .cnjnctn-grd .cnjnctn-and:before, [tabindex] .modal-content .cnjnctn-grd .cnjnctn-or:before {
	line-height: 1.4em;
	height: 1.4em;
	width: 1.4em;
}
.cnjnctn-grd .cnjnctn-and:before {
	border-width: 2px 0px 2px 0px;
	border-color: #6f6f6f;
	border-style: solid;
}
html:lang(en) .cnjnctn-and:before {
	content: "and";
}
html:lang(fr) .cnjnctn-and:before {
	content: "et";
}
.cnjnctn-or:before {
	border-radius: 50%;
	border: 2px solid #6f6f6f;
}
html:lang(en) .cnjnctn-or:before {
	content: "or";
}
html:lang(fr) .cnjnctn-or:before {
	content: "ou";
}

@media all and (max-width: 767px) {
.flex-fw-xs {
	flex-direction: column;
}
.cnjnctn-grd.flex-fw-xs {
	border-left: 2px solid #6f6f6f;
	padding-left: 19px;
}
.cnjnctn-grd.flex-fw-xs .cnjnctn-and, .cnjnctn-grd.flex-fw-xs .cnjnctn-or {
	padding-left: 0px;
	background-image: none;
}

.flex-fw-xs .cnjnctn-and:before {
	border-width: 0px 2px 0px 2px;
}
.flex-fw-xs .cnjnctn-col-sm	{
	width: 100%;	
}
}

@media all and (max-width: 991px) {
.flex-fw-sm {
	flex-direction: column;
}
.cnjnctn-grd.flex-fw-sm {
	border-left: 2px solid #6f6f6f;
	padding-left: 19px;
}
.flex-fw-sm .cnjnctn-and, .cnjnctn-grd.flex-fw-sm .cnjnctn-or {
	padding-left: 0px;
	background-image: none;
}

.flex-fw-sm .cnjnctn-and:before {
	border-width: 0px 2px 0px 2px;
}
.cnjnctn-grd.flex-fw-sm .cnjnctn-col-sm	{
	width: 100%;	
}	
}

@media all and (max-width: 1169px) {
.flex-fw-md {
	flex-direction: column;
}
.cnjnctn-grd.flex-fw-md {
	border-left: 2px solid #6f6f6f;
	padding-left: 19px;
}
.flex-fw-md .cnjnctn-and, .cnjnctn-grd.flex-fw-md .cnjnctn-or {
	padding-left: 0px;
	background-image: none;
}

.flex-fw-md .cnjnctn-and:before {
	border-width: 0px 2px 0px 2px;
}
.flex-fw-md .cnjnctn-col-sm	{
	width: 100%;	
}	
}


@media all and (min-width: 1170px) {

.flex-fw-lg {

flex-direction: column;

}

.cnjnctn-grd.flex-fw-lg {

border-left: 2px solid #6f6f6f;

padding-left: 19px;

}

.flex-fw-lg .cnjnctn-and, .cnjnctn-grd.flex-fw-lg .cnjnctn-or {

padding-left: 0px;
background-image: none;
}



.flex-fw-lg .cnjnctn-and:before {

border-width: 0px 2px 0px 2px;

}
.flex-fw-lg .cnjnctn-col-sm	{
	width: 100%;	
}
}

.dcsn-details  details + .cnjnctn-or:before {

float: left;

box-sizing: content-box;

line-height: 1.9em;

text-align: center;

padding: 4px;

height: 2em;

width: 2em;

font-weight: 500;

font-size: 16px;

border: 1px solid #6f6f6f;

}

.dcsn-details details:not(:last-child) {

margin-bottom: 30px;

}

.dcsn-details details + .cnjnctn-or {

position: absolute;

margin-top: -36px;

background-color: #fff;

margin-left: 38px;

}
}
/*Temporary solution for decision points inside wells or backgrounds */
.well .dcsn-details, .well .dcsn-details details + .cnjnctn-or, [class*='bg-'] .dcsn-details, [class*='bg-'] .dcsn-details details + .cnjnctn-or {
	background-color: inherit;
}
