/* take out table lines for phone lines */
/* removed the in details condition, since it's better without lines elsewhere too... */


/* byline */

.byline {
	font-weight: 700;
	font-family: 'Lato';
	font-size: 16px !important;
	padding-top: .5em !important;
	padding-bottom: 0em !important;
	border-left: 12px solid #d4d4d4 !important;
	margin-left: .2em;
	padding-left: 1em;
	/* background-color: #eee; */
	/* border: 1px solid #e1e1e1; */
}

/* new "stacked" H1 header-with-subheader style */

	h1 span.stacked {
	                display: flex;
	                flex-direction: column-reverse;
	                margin-left: -9999px;
	}
	h1 span.stacked span:nth-child(1), h1 span.stacked span:nth-child(2) {
	                margin-left: 9999px;
	}
	h1 span.stacked span:nth-child(2) {
	                font-size: 0.8em;
	                color: #666;
									font-weight: 200;
									margin-bottom: 0.175em;
	}
	h1 span.stacked span:nth-child(1) {
	                margin-top: -1.1em;
	}

/* new "addressbox" style for address change pages.  makes addresses look like peel-stick address labels */

	p.addressbox {
		display: inline-block;
	}

/* reduce h1 top margin for mobile only */
@media screen and (max-width: 425px) {

h1, .h1 {
	margin-top: .35em !important;
}

}


details dl.dl-horizontal dd, details dl.dl-horizontal dt {
  border-top: 0px solid #ccc !important;
}

/* bigger label */
label {
  font-size: 18px !important;
}
/* increase field flow sizing */

legend.h5 {
  margin-top: 0px !important;
  font-size: 22px !important;
  margin-bottom: 15px !important;
}

/* need padding to the left of register when next to a button */

.register {
  padding-left: 15px;
}


.home h2 {
  font-size: 1.2em;
}

ul.feeds-cont li {

 font-size: 18px !important;
 line-height: 1.5em !important;
}


ul.feeds-cont li a {

 text-decoration: underline !important;
}

ul.toc {

  font-size: 17px !important;
}

ul.toc .active {
  background-color: #333 !important;
  border-color: #8f8f8f  !important;
}

main section.lnkbx ul li a {
  line-height: .8em !important;  /* not targetting properly, being overrideen by main line-height... need to look at again later */
}


.cra-contacts div.col-md-4 {

    margin-top: -8px !important;
}

.btn-login {

background-color: #26374a !important;
border: 1px solid #26374a !important;

/* background-color: #904114 !important; */
/* border: 1px solid #7D3912 !important; */

/*	background-color: #318000 !important; */
/*	border: 1px solid #455E82 !important; */
	font-weight: 600 !important;
	font-family: "Lato";
  font-size: 17px !important;
	padding-top: 7px;
	padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
	margin-top: 3px;

}

/* in page buttons that are not primary call to action */

main .btn {
  font-family: "Lato";
  font-size: 20px !important;
  color: #333;
}

main .btn-primary {
  color: #fff !important;
}

.edge-color .btn-default {
  background-color: white!important;
}

div.pagedetails .btn {

  font-family: "Lato";
  font-size: 16px !important;
  color: #335075;
  border: 1px solid #dcdee1 !important;


}


/* custom checkboxes */

/* for checks, container */
.container-checks {
  display: block;
  position: relative;
  padding-left: 55px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 19px;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* hide default checkbox */
.container-checks input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/*  custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #eee;
  border: 1px solid #333;
}

/* mouse-over, grey */
.container-checks:hover input ~ .checkmark {
  background-color: #ccc;
}


.container-checks input:checked ~ .checkmark {
  background-color: #318000;
}

/* create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* show the checkmark when checked */
.container-checks input:checked ~ .checkmark:after {
  display: block;
}

/* style the checkmark/indicator */
.container-checks .checkmark:after {
  left: 14px;
  top: 5px;
  width: 10px;
  height: 22px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* start custom breadcrumb  */


@media screen and (max-width: 737px) {


.gcweb-v2~#wb-bc ol {

  margin-top: 5px !important;
}

}
@media screen and (min-width: 737px) {
.no-break-breadcrumb {
	display: inline-block!important;
}


}

/* end breadcrumb */

@media screen and (max-width: 1200px) {

  .promo {
  	padding-left: 1em;

}

}


@media screen and (max-width: 760px) {

  .mobile-left {
    float: left !important;
  }

}





ol.vertical-steps {

               margin-left: -10px;

}

.vertical-steps li {

               padding-bottom: 20px;

               list-style: none;

               margin-left: -12px;

               border-left: 5px solid #26374a;

               position: relative;

               padding-left: 30px;

               counter-increment: step-counter;

}

.vertical-steps ul li {

               border-left: none;

               padding-left: 35px;

}

.vertical-steps li a::before {

               text-decoration: underline;

}

.vertical-steps li>:first-child::before {

               border-radius: 50%;

               border: 3px solid #26374a;

               background-color: #fff;

               content: counter(step-counter);

               float: left;

               display: inline-block;

               text-decoration: none;

               box-sizing: content-box;

               line-height: 1.7;

               height: 34px;

               width: 34px;

               text-align: center;

               margin-left: -52px;

               -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */

               transition: all 0.2s;

}

.vertical-steps li a[href]:hover::before {

               width: 38px;

               height: 38px;

               margin-top: -2px;

               font-size: 1.2em;

               margin-right: 10px;

               margin-left: -54px;

               line-height: 1.5;

}

.vertical-steps .description {

               display: block;

               font-size: 87%;

               color: #6f6f6f;

}

/*sub-steps un-ordered*/

.vertical-steps ul li a[href]:hover::before {

               width: 38px;

               height: 38px;

               margin-top: -2px;

               margin-right: 10px;

               margin-left: -54px;

               line-height: 0.75

}

.vertical-steps li:last-child {

               border-left: 5px solid transparent;

               padding-bottom: 0;

}

/*sub-steps un-ordered*/

.vertical-steps ul li:last-child {

               border-left: none;

}

/*completed*/

.vertical-steps li.completed {

               border-color: #ccc

}

.vertical-steps li.completed>:first-child::before {

               border-color: #ccc

}

/*active*/

.vertical-steps li.active>:first-child::before {

               background-color: #26374a;

               color: #fff;

}

/*sub-steps*/

.vertical-steps li li:first-child {

               margin-top: 10px;

}

.vertical-steps > li li {

               counter-increment: sub-step-counter;

}

.vertical-steps > li li > :first-child::before {

               content: counter(sub-step-counter, upper-alpha);

}

/*sub-steps un-ordered*/

.vertical-steps > li ul li > :first-child::before {

               content: "\25cf";

               background-color: #fff;

               color: #eaeaea;

               font-size: 2em;

               line-height: 0.75;

               border-color: #fff;

}

.vertical-steps > li ul li.active> :first-child::before {

               content: "\25cf";

               background-color: #fff;

               color: #26374a;

               line-height: 0.75;

               border-color: #26374a;

}

/* sub-sub-steps */

.vertical-steps > li li li {

               counter-increment: sub-sub-step-counter;

}

.vertical-steps > li li li > :first-child::before {

               content: counter(sub-sub-step-counter, lower-roman);

}

/*sub-sub-steps un-ordered*/

.vertical-steps > li li ul li > :first-child::before {

               content: "\25cf";

               background-color: #fff;

               color: #eaeaea;

}

.vertical-steps > li li ul li.active> :first-child::before {

               content: "\25cf";

               background-color: #fff;

               color: #26374a;

}



@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

.vertical-steps > li li ul li.active> :first-child::before {

               line-height: 0.75;

}

}

.alert-success, .alert-info, .alert-warning, .alert-danger {
	background: #fff !important;
}
.alert {
	border-width: 1px 1px 1px 4px !important;
	margin-left: 12px;
	padding-left: 20px;
	border-width: 0px 0px 0px 6px!important
}
.alert-success > :first-child::before, .alert-info > :first-child::before, .alert-warning > :first-child::before, .alert-danger > :first-child::before {
	font-size: 26px;
	margin-left: -1.48em;
	background: #fff;
	padding: 2px
}
.alert > :first-child {
	margin-left: 0em;
}
.alert >:first-child::before {
	margin-right: 0.4em
}
@media screen and (min-width:992px) {.skipto {display:none;}}
@media screen and (max-width:991px) {
.skipto {display:none;}
:target ~ .skipto  {display:block;}
.skipto {position: fixed; bottom:5px; color:#fff; background:#26374a; padding:2px 10px;   z-index:10000; right:0; margin:0; font-size:.85em;}
.skipto a {color:#fff !important;}}

.gc-theme .firsth1 {margin:7px 0 0; padding:0}
.gc-theme .firsth1 h1 {
	padding-bottom: 0;
	font-size: 1.4em;
	color: #777;
	float: none;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 400;
	border:none;
	margin:0;
}
@media all and (max-width: 991px) {
.gc-theme .firsth1 h1 {
	color: #333;
	font-weight: 600;
	font-size: 1.7em;
	}
}
.gc-theme h1.secondh1 {
	margin: 0 0 0.2em;
	padding: 0 0 0.2em;
	border-bottom: 1px solid #af3c43
}
.section-nav h2 {
	color: #777;
	margin-top:10px;
}
.circle-nav h2 {
	color: #777;
	margin-top:15px;
}
@media all and (min-width: 992px) {
.circle-nav h2 {
	margin-top:48px;
}
}
@media all and (min-width: 992px) {
.section-nav .col-md-4 {
	position: absolute;
	right: 0;
}
}
@media all and (min-width: 992px) {
.circle-nav {
	float:right;
}
}

.wb-overlay .pager {margin-bottom:10px}

.pager > li > a, .pagination > li > a {margin-top: 0.5em; margin-bottom:0; }
.pager {margin-left:10px; margin-right: 10px; }


.overlay-def.wb-bar-b, .overlay-def.wb-bar-b header, .overlay-def.wb-bar-t, .overlay-def.wb-bar-t header {background-color:#26374a}

@media all and (max-width: 479px) {
#wb-srch input {
	border-right: 1px solid #e0e0e0;
	max-width: 246px;

}
}

.hoverimagewow:hover {
  opacity: 0.8;
  cursor:pointer;

}

.cst-inputs input {
  position: absolute;
  opacity: 0;
}

.cst-inputs {
    margin-top: 15px;
}

.cst-inputs .checkbox,
.cst-inputs .radio,
.cst-inputs .form-checkbox,
.cst-inputs .form-radio {
  /* display: block; */
  position: relative;
  cursor: pointer;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cst-inputs .checkbox,
.cst-inputs .radio {

  padding-left: 30px;
  margin-bottom: 35px;

}

.cst-inputs .form-checkbox,
.cst-inputs .form-radio {

  margin-right: 30px;
  margin-bottom: 25px;
  min-width: 26%; /* prevents weird overlapping */

}

.cst-inputs .form-checkbox label,
.cst-inputs .form-radio label {
  padding-left: 50px;

}

.cst-inputs .checkbox label::before,
.cst-inputs .radio label::before,
.cst-inputs .form-checkbox label::before,
.cst-inputs .form-radio label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  border: 2px solid #333;
  margin-top: -4px;
 }


.cst-inputs .radio label::before,
.cst-inputs .form-radio label::before {
  content: "";
  border-radius: 50%;
}


.cst-inputs .checkbox label::after,
.cst-inputs .form-checkbox label::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 13px;
  height: 22px;
  border: solid #333;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

}

.cst-inputs .radio label::after,
.cst-inputs .form-radio label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #333;
}

/* hide the check */
.cst-inputs .form-checkbox input[type="checkbox"] + label::after,
.cst-inputs .form-radio input[type="radio"] + label::after,
.cst-inputs .checkbox input[type="checkbox"] + label::after,
.cst-inputs .radio input[type="radio"] + label::after {
    content: none;
}

/* unhide check when checked */
.cst-inputs .form-checkbox input[type="checkbox"]:checked + label::after,
.cst-inputs .form-radio input[type="radio"]:checked + label::after,
.cst-inputs .checkbox input[type="checkbox"]:checked + label::after,
.cst-inputs .radio input[type="radio"]:checked + label::after {
    content: "";
}

/* add focus */
.cst-inputs .checkbox input[type="checkbox"]:focus + label::before,
.cst-inputs .form-checkbox input[type="checkbox"]:focus + label::before,
.cst-inputs .form-radio input[type="radio"]:focus + label::before,
.cst-inputs .radio input[type="radio"]:focus + label::before  {
    box-shadow: 0 0 3pt 2pt rgb(59, 153, 252);
}



 @media only screen and (max-width: 1200px) {

.cst-inputs .form-checkbox,
.cst-inputs .form-radio {
    min-width: 50%;
  }

}

/*  tablet/mobile fonts customizations and scaling */

@media screen and (max-width: 1200px) {

	.init-box {

		padding: 15px;
		min-height: 155px;
		max-height: 185px;
		background-color: #f9f9f9 !important;
		border: 1px #ddd solid;

	}

main p, main ul, main li {


		font-size: 19px !important;
		line-height: 26px !important;

	}

section.byline p {
		font-size: 16px !important;
		line-height: 20px !important;

	}

	h1 {
			font-size: 34px !important;

		}

	h2 {
				font-size: 32px !important;

			}




	.h3 {

				font-size: 22px !important;

							}

		.mr-home {

								font-size: 19px !important;

							}

			.breadcrumb {


			}


}

@media screen and (max-width: 800px) {

.btn-call-to-action {

	font-size: 19px !important;
}

.fadeimg {
	background-image: url("none") !important;

}

#brand-container-cra-h2 {
	font-size: 1em !important;
}


}

button#wb-srch-sub a:visited {

color: white !important;


}


button#wb-srch-sub a {

color: white !important;
}

/* slim header  (only works for mobile )*/
#wb-bnr {
  position: relative !important;
}

#lang {
  position: absolute !important;
  right: 0;
  top: .6em;
}

#sm-lang {
  position: absolute !important;
  top: .6em;
}

.brand {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.submit button {
  z-index: 1000 !important;
  position: relative !important;
}

#wb-srch form .form-group {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#wb-srch, .srchbox {
 padding-top: 5px !important;
}


@media screen and (max-width: 5120px)
      {
#wb-srch input {
 max-width: 19em;
}

#lang {
 right: 0;
}

#sm-lang {
  visibility: hidden;

}

}

@media screen and (max-width: 768px)
      {
#wb-srch input {
  max-width: 42.4em !important;
  min-width: 42.4em !important;
  height: 39px;

}
.form-group {
 margin-bottom: 4px;
}

}


@media screen and (max-width: 425px)
      {
#wb-srch input {
 min-width: 22.1em !important;
 max-width: 22.1em !important;
 height: 39px;
}

#lang {
 right: 1.3em !important;
}

#sm-lang {
  visibility: hidden;

}

body.transactional div#wb-bnr div.brand {
		left: 0px !important;
		position: static;
}

#brand-container-mya {
	margin-left: 0 !important;
	margin-right: 0 !important;
}


}



@media screen and (max-width: 375px)
      {
#wb-srch input {
 max-width: 19em !important;
 min-width: 19em !important;
 height: 39px;

}

#lang {
 visibility: hidden;

}

#sm-lang {
 right: .25em;
 visibility: visible;

}

#brand-container-mya {
	margin-left: 0 !important;
	margin-right: 0 !important;
}


}


@media screen and (max-width: 320px)
      {
#wb-srch input {
 max-width: 13.5em !important;
 min-width: 13.5em !important;
 height: 39px;


}

#lang {
 visibility: hidden;
}

#sm-lang {
 right: 0em;
 top: 3.8em !important;
}

#wb-srch-sub {
  position: relative;
  right: 2em;
  top: .02em;
}
}



/* minimalist "transactional" version of the page template (only really works on mobile) - added by DK July 10 */

	body.transactional nav.gcweb-v2 {
		border-top: 3px solid #38414d;
	}

	body.transactional nav.gcweb-v2 h2 {
		margin-top: 18px;
		margin-bottom: 18px;
		float: left;
	}
	body.transactional nav.gcweb-v2 a.btn-login {
		margin-top: 18px;
		position: relative;
		left: 10px;
		float: right;
	}

	body.transactional nav.breadcrumb {
		position: relative !important;
		margin-top: -15px !important;
	}

	body.transactional .maHelpLink {
		margin-bottom: 25px;
	}

	body.transactional div.landscape ul {
		margin-left: 2px;
		padding-left: 2px;
	}

 /* For the CCB project */

 .well-overviewpage, .well {
	 background-color: white !important;
 }

 #brand-container-cra .container {
	 padding: 0 .75em 0 .75em;
 }
	#brand-container-cra {
	    background: #347e83 none repeat scroll 0 0!important;
	}

	#brand-container-cra-h2 {
		color: white;
		font-size: 1.25em;
	}

	#brand-container-msca {
	    background: #E3CFD4 none repeat scroll 0 0!important;
	}

	.btn-login-logout {

		background-color: white !important;
		border: 1px solid #26374a !important;
		font-weight: 600 !important;
		font-family: "Lato";
		padding-top: 7px;
		padding-bottom: 7px;
	  padding-left: 16px;
	  padding-right: 16px;
		margin-top: 3px;

	}
	body.transactional nav.gcweb-v2 a.btn-login-logout {
		margin-top: 10px;
		position: relative;
		left: 10px;
		float: right;
		font-size: 16px !important;

	}
Viewport
Window
×
×
×
