.cmrLabel {
	font-weight: normal;
}

.labelAlertInfo {	
	padding: 0px;
	border-color: transparent;	
}

.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .cmrToolbar{
	margin-left: 0px;
}

.matchHilite {
	color: #000;
	background-color: #f7fe2e;
}

.hilite {
	color: #000; 
	background-color: #f7fe2e;
}

.hiddenButton {
	height: 0px;
	width: 0px;
	position: absolute;
	left: -1000px;
	top: -1000px;
}