/**
 * HBP/LLP
 */
/* Using RRSP style - overrides below: */
.HBPpageOfDoom .RRSPcalc {
	margin: 3.5em 0 0;
}
.HBPpageOfDoom .RRSPcalc:first-child {
	margin: 2em 0 0;
}
.HBPpageOfDoom  h2 {
	margin: 0;
}
.HBPpageOfDoom  .links {
	margin: 3em 0 1em .5em;
}
.HBPpageOfDoom .RRSPcalc table tr.subCalculation table {
	/* sub-calculation table */
	margin: .5em 1.5em 0;
}
.HBPpageOfDoom table.repayments {
	margin: 0;
}
.HBPpageOfDoom table.repayments th {
	
}
.HBPpageOfDoom table.repayments td {

}